*
{
  color:#eee;
}
  body {
    min-height: 100vh;
    display: flex;
    place-items: center;
    justify-content: center;
  }
  .page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
